.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    margin-top: 50px;
  }
  
  .content .cards-holder {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
  }